/* OVERALL PAGE LAYOUT - SHADOW, BODY, FOOTER */
/*  color: #3EB0ED;*/
/*  color: #ED5832;*/
/*  color: #479348;*/

body {
  background: #595E66;
}

#page {
  margin: 0px auto;
  text-align:left;
  background: #DCDDDF;
}

#shadowcontainer {
  width: 994px;
  margin: 0 auto;
  background: url("/images/sideshadow.png") repeat-y scroll 0 0 transparent;
}

#bodycontainer {
  width: 984px;  
  margin: 0 auto;
  background: #FFFFFF;
}

#footercontainer {
  height: 39px;
  color: #ccc;
  width: 100%;
  background: #595E66 url("/images/bottomshadow1.png") repeat-x scroll 0 0;
}

#footer {
  width: 950px;
  margin: 0 auto;
  padding-left: 17px;
  padding-top: 12px;
  background:  url("/images/bottomshadow1.png") repeat-x scroll 0 0;

}

#footer a {
  color: inherit;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}

/* MASTHEAD, including NAME and TOP-LEVEL NAVIGATION */
#header {
  height: 28px;
}
#header_links {
  float: right;
  padding: 0px 18px 0px 0px;
}
#header_links a {
  text-decoration:none;
  font-weight: none;
}
#masthead {
	width:950px;margin: 4px 17px 6px;position: relative;
}

#masttitle {
	float: left;width:950px; margin-right:0;
	color:#3EB0ED;
	font-size: 4em;
	font-weight: bold;
	margin-top: -10px;
}

#masttitle a {
  color: inherit;
  text-decoration: none;
}

#mastsubtitle {
	float: left; margin-right: 10px; width: 550px;
	font-size: 1.5em;
	font-weight: bold;
  color: #000;
}
#mastsubtitle a {
  color: inherit;
  text-decoration: none;  
}
.mastnav {
	float: left; margin-right: 0; width: 984px;
	padding: 4px 0px 6px;
	border-top: 1px solid #DCDDDF; border-bottom: 1px solid #BDBDBD;
	background: none repeat scroll 0 0 #F3F3F3;
}

.mastnav a {
	text-decoration: none;
	padding-right: 24px;
	padding-left: 24px;
	font-size: 14px;
	font-weight: normal;
	border-right: 1px dashed #BDBDBD;	
}
#authed_links {
  display: none;
  border-top: 0;
}
#authed_links a {
  color: #ED5832;
}

/* PAGE TITLE including FANCY MAIN-PAGE TITLE */

#pagetitle {
	float: left; margin-right: 0; width: 984px;
	margin-top: 0px;
	background: #595E66; /*#3EB0ED;*/
	border-bottom: 1px solid #BDBDBD;
}
#pagetitlepadding {
	padding: 14px 17px 16px; 
}
#pagetitle h1 {
  margin-bottom: 0px;
	display: block;
	padding-right: 17px;
	color: #fff;
	font-size: 2em;
	font-weight: bold;	
}
#pagetitle p {
	clear: none;
	display: inline;
	color: #fff;
}
#titletext {
  float: left; margin-right: 34px; width: 390px;
  margin-top: 1.5em;
}
#titletext h3 {
  font-style: italic;
  color: #fff;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0px;
}
#titleimg {
  float: left; margin-right: 10px; width: 550px;
  height:180px;
  background: url('/images/protovis-banner.png') 0 0 no-repeat;
}
#pagetitle img {
  display: block;
}

/* MAIN CONTENT GRID COLUMNS */

#main {
	width:950px;
	margin: 0px 17px 0px;  /* top, sides, bottom */
	position: relative;
	float: left;
}

.thirdcol {
  width: 230px;
  float: left;
  margin-right: 0;
  padding: 17px 0 17px 0px;
}
.onetwocol {
  width: 710px;
  float: left;
  margin-right: 10px;
  padding: 17px 0 17px 0px;
}

.firstcol {
  width: 350px;
  float: left;
  margin-right: 10px;
}

.secondcol {
  width: 350px;
  float: left;
  margin-right: 0;
}


/* INTRO PAGE STUFF */

.theme_splash {
  width: 348px;
  height: 216px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #BDBDBD;
  position: relative;
  background: none repeat scroll 0 0 #595E66;
  
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}
.theme_splash_text {
  width: 300px;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: #000 0px 0px 3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
	text-align: right;
}
.theme_splash_container {
  color:#ffffff;
  width: 348px;
  height: 218px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
.theme_splash_container a {
  color: inherit;
  text-decoration: none;
}
.theme_splash_container a:hover {
  /*  color: #ED5832; */  
  color: #3EB0ED;  
}
.theme_content .theme_splash_container  a:hover {
  color: #ffffff;
}
#splash_content_creation {
  background: url("/images/content_creation1_P.png") 0 0 #595E66;
}

#splash_graphics_systems {
  background: url("/images/graphics_systems1_P.png") 0 0 #595E66;
}

#splash_perceiving_people {
  background: url("/images/perceiving_people_P.png") 0 0 #595E66;
}

#splash_scalable_simulation {
  background: url("/images/scalable_simulation2_P.png") 0 0 #595E66;
}


/* SIDENAV */
#sidenav {
  background:  #DCDDDF;
}
#sidenav h3 {
  padding-left: 17px;
  padding-bottom: 18px;
  margin-bottom: 0;
}
#sidenav ul {
  list-style:none;
  padding: 0;
}

#sidenav ul li {
  margin: 0px 0px 0px 18px;
  padding: 0px 0px 18px 24px;
  background: url("/images/nav-sub-arrow.png") no-repeat scroll 0px 2px transparent;
}
#sidenav ul ul li {
  margin: 0px 0px 0px;
  padding: 0px 0px 0px 18px;
  background: url("/images/nav-sub-child-arrow.png") no-repeat scroll 0px 6px transparent;
}

#sidenav ul a {
  font-weight: bold;
}
#sidenav ul ul li a {
  font-weight: bold;
  font-size: 75%;
}

#sidenav ul a {
  text-decoration: none;
}


/* THEMES PAGE */

.theme_blurb {
  width: 348px;
  float: left;
}

/* kruft */

h1, h2, h3, h4, h5, h6 {font-weight:bold;color:#111;}

.anchorheader a {
  color: inherit;
  text-decoration: inherit;
}

#intel_logo {
  margin: 28px 45px 18px;
}
#sponsors_blurb {
	height: 216px;
}
#sponsors_list {
	float: left;
	height: 75px;
	width: 710px;
	margin-right: 10px;
  padding: 10px 0px 10px;
  border: 1px solid #BDBDBD;
  
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}
#sponsors_list img {
	display: inline;
	float: left;
	padding-left: 10px;
	padding-right: 3px;
}
#sponsors_list a {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}
.section {
	margin-bottom: 17px;
	padding-bottom: 17px;
	border-bottom: 1px solid #DDDDDD;
}
.subsection {
  padding-left: 18px;
}

#launchingbox {
  background:#F3F3F3;
	color: #ED5832;
	padding: 8px 12px 8px 12px;
	margin-top: 10px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.4em;
  border: 1px solid #BDBDBD;
  
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  
  float: right;
  display: inline;
  position: absolute;
  top: 18px;
  right: 50px;
}
.bright {
  color:#ED5832;
}

ul h4 {
  margin-bottom: 0px;
}

