<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title - ICTC Visual Computing </title>
    
    <link rel="stylesheet" href="$root/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="$root/css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="$root/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="$root/css/site.css" type="text/css" media="screen, projection">    
    <link rel="stylesheet" href="$root/css/jqModal.css" type="text/css" media="screen, projection">
    
    <script type="text/javascript" src="$root/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="$root/js/jqModal.js"></script> 
</head>
<body>
<div id="page">
    <div id="shadowcontainer">
        <div id="bodycontainer">
        $body
        </div>
    </div>
    <div id="footercontainer">
        Hello
    </div>
</div>    
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20723023-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
