<div id="pagetitle">
  <div id="titleimg">
        <img src="$root/images/pgimg-research.png">
    </div>
    <div id="titletext">
        <h3>The Visual Computing Center engages in open, collaborative, and exploratory research in visual computing.  We seek to bring modern trends in computing (the cloud, crowd sourcing, hand-held computing) to bear on hybrids of computer graphics, animation, image understanding, and large-scale gaming.</h3>
        <span class="bigclick">See our projects</span>
    </div> 
</div>
<div id="main">
  <div id="content">
    $body
  </div>
</div>